@import url('https://fonts.googleapis.com/css?family=Roboto');

/* use reset here */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  background: #333;
  color: white;
  line-height: 1.6;
}

.slider {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.slide.current{
  opacity: 1;
}

.slide .content{
  position: absolute;
  bottom: 70px;
  left: -600px;
  opacity: 0;
  width: 600px;
  background-color: rgba(255,255,255, 0.8);
  color: #333;
  padding: 30px;
}

.slide .content h3{
  margin-bottom: 10px;
}

.slide.current .content{
  opacity: 1;
  transform: translateX(600px);
  transition: all 0.7s ease-in-out 0.3s;
}

.buttons button#prev{
  position: absolute;
  top: 50%;
  left: 15px;
}

.buttons button#next{
  position: absolute;
  top: 50%;
  right: 15px;
}

.buttons button{
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  padding: 13px 15px;
  border-radius: 50%;
  outline: none;
}

.buttons button:hover{
  background-color: #fff;
  color: #333;
}

/* add media queries  */
@media (max-width: 450px){
  .slide .content{
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content{
    transform: translateY(-300px)
  }
}



/* background images */
.slide:first-child{
  background: url('./images/img01.jpg') no-repeat center center/cover;
}
.slide:nth-child(2){
  background: url('./images/img02.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
  background: url('./images/img03.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
  background: url('./images/img04.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
  background: url('./images/img05.jpg') no-repeat center top/cover;
}